.wrapper {
	display: flex;
	flex-direction: column;
	color: #dfe4eb;

	.textarea {
		width: 100%;
		font-size: 1.125rem;
		line-height: 1.25rem;
		margin-top: 0.5em;
		padding: 0.5em;
		color: #dfe4eb;
		border-radius: 5px;

		outline: none;
		border: 1px solid #294e87;
	}
}
