.container {
	padding-top: 32px;

	.buttons {
		display: flex;
		justify-content: space-between;

		@media screen and (max-width: 476px) {
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
		}

		.button {
			width: 260px;

			&:last-of-type {
				margin-left: 1rem;

				@media screen and (max-width: 476px) {
					margin-left: 0;
					margin-top: 1rem;
				}
			}
		}
	}

	.comments {
		display: grid;
		grid-template-rows: auto;
		row-gap: 1rem;
		padding-top: 32px;
	}
}
