.wrapper {
	display: grid;
	grid-template-rows: auto;
	row-gap: 1em;

	.input {
		width: 500px;

		@media screen and (max-width: 628px) {
			width: 300px;
		}

		@media screen and (orientation: landscape) and (max-height: 580px) {
			max-height: 75px;
		}
	}
}
