.wrapper {
	display: flex;
	flex-direction: column;
	color: #dfe4eb;

	.input {
		height: 45px;
		font-size: 1.125rem;
		line-height: 1.25rem;
		text-indent: 0.5em;
		margin-top: 0.5em;
		color: #dfe4eb;
		border-radius: 5px;

		outline: none;
		border: 1px solid #294e87;
	}
}
